aiodns==1.1.1
aiohttp==2.3.6
aiohttp-cors==0.6.0
aioredis==1.0.0
async-timeout==2.0.0
asyncpg==0.13.0
cchardet==2.1.1
chardet==3.0.4
click==6.7
Flask==0.12.2
hiredis==0.2.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
multidict==3.3.2
pycares==2.3.0
ujson==1.35
uvloop==0.9.1
Werkzeug==0.13
yarl==0.16.0
